@import "sprite.less";
@import "mixin.less";
@import "base.less";


body {

}


.reset {
    background: none;
    margin: 0;
    padding: 0;
}


.wrap {
	max-width: 980px;
	margin: 0 auto;

}


.icon {
    display: inline-block;
    vertical-align: middle;
    .sprite(@sm);
}


.lacie-logo {
    float: right;
    margin-top: 5px;
}


.content {
    padding: 40px 0;
    background-image: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
}


.footer {
    padding: 20px;
    background: #d1d1d1;
}


.promo-title {
    margin-top: 75px;
    margin-bottom: 45px;
    font-size: 33px;
    color: #202057;
    text-align: center;
}

.promo-block {
    font-size: 0px;
}

.promo-block--shadow {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

h2 {
    margin: 0px;
    font-size: 45px;
    font-weight: normal;
    color: #fefefe;
}


.block-title {
    display: block;
    padding: 20px 45px;
    background: linear-gradient(to right, #6d9eca, #bbddf4);
    vertical-align: middle;
}


.list {
    padding: 45px;
}

.list--bottom {
    padding: 0 0 0 40px;

    .list-item {
            font-size: 18px;
            line-height: 28px;
    }
}


.list-block {
    margin: 0px;

}


.list-title {
    font-size: 23px;
    color: #7ba9d1;
}


.list-item {
    font-size: 20px;
}

.block-image {
    display: inline-block;
}


.designer {
    margin-top: 30px;
    margin-bottom: 0px;
    color: #737378;
    font-size: 20px;
}


.block-title-descr {
    margin: 0px;
    color: #fefefe;
    font-size: 20px;
    line-height: 30px;
}


.fly-drive {
    padding-top: 10px;
    padding-bottom: 10px;
}


.promo-description {
    width: 646px;
    display: inline-block;
    margin-bottom: 80px;
    margin-left: 15px;
    vertical-align: top;
    font-size: 20px;
    line-height: 25px;
}


.tittle-padding {
    margin-bottom: 25px;
}


.block-advantage {
    margin-top: 50px;

}


.partic-descr {
    padding: 15px 8px 0px 8px;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    color: #202057;
}


.results {
    font-size: 32px;
    color: #202057;
    text-align: center;
}


.question-form {
    margin-top: 20px;
    margin-bottom: 35px;
    padding-top: 30px;
    background-image: url(/img/form-bg.jpg);
    background-size: cover;
}


.form-block-left {
    padding-left: 60px;
    display: inline-block;
    width: 485px;
}


.form-block-right {
    padding-right: 60px;
    display: inline-block;
    width: 485px;
}

.form-block-in {
    height: 45px;
    width: 393px;
    margin-bottom: 15px;
    padding: 0 10px;
    font-size: 16px;
    border: none;
}


.logos {
    padding: 20px 0px;
    font-size: 0px;

}


.logo-list {
    margin-top: 30px;
    margin-bottom: 40px;
}


.logo-image {
    margin-right: 149px;
    &:last-child {
        margin-right: 0px;
    }
}

.form-personal {
    color: #fff;
    padding: 0 60px 0 90px;

    input {
        position: absolute;
        top: 5px;
        left: 60px;
    }
}

.form-personal__top {
    font-size: 20px;
}

.form-personal__bottom {
    font-size: 14px;
}

.form-bottom {
    padding: 20px 0;
}

.order {
    border: none;
    background: #bbddf4;
    height: 40px;
    width: 160px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0px auto;
    display: block;
    cursor: pointer;
}