<article class="content">
        <div class="wrap">
            <div class="breadcrumbs">
                <a class="breadcrumbs__link" href="#">Главная</a> |  <span>О компании</span>
            </div>
            <h1 class="content__title">О компании</h1>
            <p>ОАО «Свердловское агентство ипотечного жилищного кредитования» было создано в соответствии с Постановлением Правительства Свердловской области № 296-ПП от 15.05.2003г. «Об организации системы ипотечного жилищного кредитования в Свердловской области и создании открытого акционерного общества «Свердловское агентство ипотечного жилищного кредитования» в качестве регионального оператора в рамках общефедеральной программы ипотечного жилищного кредитования, действующего на территории Свердловской области, и нацелено на развитие системы кредитования и рефинансирования ипотечных жилищных кредитов.</p>
            <blockquote>Единственным акционером агентства является Свердловская область в лице Министерства по управлению государственным имуществом.</blockquote>
            <p>ОАО «САИЖК» имеет отделения в городах Нижний Тагил, Первоуральск, Каменск-Уральский, Серов. Принятие решения о выдаче ипотечного займа производится непосредственно в отделениях. Кроме Екатеринбурга и городов-спутников займы выдаются в городах: Арамиль, Берёзовский, В.Тагил, В.Пышма, Кировград, Новоуральск, Полевской, Ревда, Заречный, Невьянск.</p>
            <h1>Заголовок 1 (H1)</h1>
            <h2>Заголовок 2 (H2)</h2>
            <h3>Заголовок 3 (H3)</h3>
            <h4>Заголовок 4 (H4)</h4>
            <h5>Заголовок 5 (H5)</h5>
            <p>Преимуществом общефедеральной программы ипотечного кредитования является ее унификация – установлены «Стандарты процедур выдачи, рефинансирования и сопровождения ипотечных кредитов (займов)».</p>
    
                        <ul>
                            <li>Маркированный список;</li>
                            <li>Маркированный список;
                                <ul>
                                    <li>Маркированный список;</li>
                                    <li>Маркированный список;
                                        <ul>
                                            <li>Маркированный список;</li>
                                            <li>Маркированный список;</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>Маркированный список;</li>
                            <li>Маркированный список;</li>
                            <li>Маркированный список;</li>
                            <li>Маркированный список;</li>
                        </ul>

                        <ol>
                            <li>Маркированный список;</li>
                            <li>Маркированный список;</li>
                            <li>Маркированный список;</li>
                            <li>Маркированный список;
                                <ol>
                                    <li>Маркированный список;</li>
                                    <li>Маркированный список;
                                        <ol>
                                            <li>Маркированный список;</li>
                                            <li>Маркированный список;</li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                            <li>Маркированный список;</li>
                            <li>Маркированный список;</li>
                        </ol>

            
            <table class="table">
                <tr>
                    <th>Опубликован</th>
                    <th>Наименование документа</th>
                    <th>Тип документа</th>
                    <th>Наименование документа</th>
                    <th>Тип документа</th>
                </tr>
                <tr>
                    <td>19.08.2014</td>
                    <td>Публичный доклад МБОУ ТСОШ</td>
                    <td>Прочее </td>
                    <td>Публичный доклад МБОУ ТСОШ</td>
                    <td>Прочее </td>
                </tr>
                <tr>
                    <td>19.08.2014</td>
                    <td>Публичный доклад МБОУ ТСОШ</td>
                    <td>Прочее </td>
                    <td>Публичный доклад МБОУ ТСОШ</td>
                    <td>Прочее </td>
                </tr>
                <tr>
                    <td>19.08.2014</td>
                    <td>Публичный доклад МБОУ ТСОШ</td>
                    <td>Прочее </td>
                    <td>Публичный доклад МБОУ ТСОШ</td>
                    <td>Прочее </td>
                </tr>
            </table>
        </div>
    </article>