<div class="content">
        <div class="wrap">
            <header>
                <a href="#"><img class="sea-logo" src="img/Seagate Logo.png"></a>
                <a href="#"><img class="lacie-logo" src="img/LaCie logo.png"></a>
            </header>
        <div>
            <h1 class="promo-title">Прими участие в розыгрыше и получи уникальную возможность выиграть персональное хранилище данных!</h1>
            <div class="promo-block promo-block--shadow">
                <div class="block-title">
                    <h2>
                    Lacie Rugged™ USB-C
                    </h2>
                </div>
                <img class="block-image" src="img/LifeStyle.jpg">
                <img class="block-image" src="img/winch.jpg">
            </div>
            <div class="list">
                <p class="list-title">
                    Высочайшая защищенность.
                </p>
                <ul class="list-block">
                    <li class="list-item">Передовая технология USB-C.</li>
                    <li class="list-item">Новый разъем USB-C для компьютеров следующего поколения</li>
                    <li class="list-item">Адаптер USB 3.0, работающий с ПК и Mac</li>
                    <li class="list-item">Передача питания по USB-кабелю для мобильных рабочих процессов</li>
                    <li class="list-item">Устойчивый к воде, сотрясениям, пыли</li>
                </ul>
                <p class="designer">
                    Дизайнер: Нил Поултон (Neil Poulton)
                </p>
            </div>
            <div class="promo-block promo-block--shadow">
                <div class="block-title fly-drive">
                    <h2>
                        Seagate DJI Fly Drive
                    </h2>
                    <p class="block-title-descr">
                        Портативный жесткий диск для записей, сделанных с дронов.
                    </p>
                </div>
                <img src="img/Fly-Drive.jpg">
            </div>
            <div class="promo-block block-advantage">
                <img class="block-image" src="img/Fly_Drive_BOB.jpg">
                <p class="promo-description">
                    Обменивайтесь файлами прямо на месте съемки<br>
Благодаря встроенному слоту для microSD-карт, двустороннему кабелю USB-C и противоударной защите Fly Drive позволяет быстро обмениваться файлами прямо на месте съемки и не требует дополнительных устройств чтения или карт памяти. Носите меньше оборудования
                </p>
            </div>
            <div class="promo-block">
                <div class="block-title">
                    <h2>
                        Как принять участие?
                    </h2>
                </div>
                <p class="partic-descr">
                    Заполни анкету онлайн до 24 октября 2017 года включительно и получи шанс выиграть один из призов: Seagate DJI Fly Drive или LaCie Rugged USB-C.
                </p>
                <p class="partic-descr">
                    Удвой свои шансы на победу - посети наш стенд B14 на выставке NAT-EXPO 2017 с 25 по 27 октября включительно, заполни анкету, передай её промоутерам
                    и жди результатов.
                </p>
            </div>
            <div class="results">
                Итоги конкурса будут подведены с 1 по 5 ноября.
            </div>

            <form class="question-form">
                <div class="form-block-left">
                    <input class="form-block-in" type="text" name="name" placeholder="Имя">
                    <input class="form-block-in" type="text" name="phone" placeholder="Мобильный телефон">
                    <input class="form-block-in" type="text" name="surname" placeholder="Фамилия">
                </div>
                <div class="form-block-right">
                    <input class="form-block-in" type="text" name="company" placeholder="Компания">
                    <input class="form-block-in" type="text" name="patronymic" placeholder="Отчество">
                    <input class="form-block-in" type="text" name="company" placeholder="Должность">
                </div>
                <div class="form-personal">
                    <input type="checkbox" id="personal-data" name="personal-data">
                    <label for="personal-data">
                        <div class="form-personal__top">Я согласен на обработку моих персональных данных</div>
                        <div class="form-personal__bottom">Компания Seagate уважительно относится к праву участника на конфеденциальность и гарантирует, что полученная от Вас информация не будет передана третьим лицам.</div>
                    </label>
                </div>
                <div class="form-bottom">
                    <button class="order" type="submit">Отправить</button>
                </div>
            </form>

            <div class="promo-block">
                <div class="block-title">
                    <h2>
                        ГДЕ КУПИТЬ
                    </h2>
                </div>
                <div class="logo-list">
                    <div class="logos">
                        <a class="logo-image" href="#"><img src="img/mvideo.png"></a>
                        <a class="logo-image" href="#"><img src="img/onlinetrade.png"></a>
                        <a class="logo-image" href="#"><img src="img/citylink.png"></a>
                        <a class="logo-image" href="#"><img src="img/icover.png"></a>
                    </div>
                    <div class="logos">
                        <a href="#" class="logo-image"><img src="img/eldo.png"></a>
                        <a href="#" class="logo-image"><img src="img/ozon.png"></a>
                        <a href="#" class="logo-image"><img src="img/dastore.png"></a>
                        <a href="#" class="logo-image"><img src="img/ellips.png"></a>
                    </div>
                    <div class="logos">
                        <a class="logo-image" href="#"><img src="img/provis.png"></a>
                        <a class="logo-image" href="#"><img src="img/apple.png"></a>
                        <a class="logo-image" href="#"><img src="img/restore.png"></a>
                    </div>
                </div>
            </div>
                <div class="promo-block">
                    <div class="block-title tittle-padding">
                        <h2>
                            Условия и правила проведения Акции
                        </h2>
                    </div>
                    <div class="list--bottom">  
                        <ul class="list-block">
                            <li class="list-item">Розыгрыш проводится в рамках рекламной акции «Выиграй свое хранилище данных» (далее – Акция).</li>
                            <li class="list-item">Организатором Акции является ООО «Ла Манш» (ОГРН 1097746365617).</li>
                            <li class="list-item">Сроки проведения Акции с 16 октября по 27 октября 2017 г.</li>
                            <li class="list-item">В Акции могут принять участия, лица, достигшие 18 летнего возраста.</li>
                            <li class="list-item">Победитель Акции выбирается в случайном порядке среди всех зарегистрировавшихся на данном сайте,
                               а также заполнивших анкету на выставке NAT-EXPO 2017.</li>
                           <li class="list-item">Победитель оповещается с помощью электронной почты в период с 1 ноября по 5 ноября 2017 г.</li>
                           <li class="list-item">Приз доставляется бесплатно в пределах Москвы, либо будет выдан при предъявлении документа
                              удостоверяющего личность лично Победителю в офисе Организатора по предварительной договоренности
                              сторон.</li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    </div>
